<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Info</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<nav class="navbar navbar-dark bg-dark"><!--Шапка-->
    <div class="container-fluid">
        <div>
            <a class="navbar-brand">
                <strong id="nav-email"></strong>
                with roles:
                <span id="nav-roles"></span>
            </a>
        </div>
        <div class="navbar-nav">
            <a class="nav-link" href="/login?logout">Logout</a>
        </div>
    </div>
</nav><!--Шапка-->

<div class="container-fluid"><!--Основа-->
    <div class="row">

        <div class="col-sm-2 pt-3 g-0"><!--Навигация-->
            <ul class="nav flex-column nav-pills" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="pill" href="admin1html#admin"
                       role="tab">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="pill" href="#user"
                       role="tab">User</a>
                </li>
            </ul>
        </div><!--Навигация-->

        <div class="col-sm-10 bg-light min-vh-100 pt-3"><!--Правая часть страницы-->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="admin" role="tabpanel" aria-labelledby="admin-tab">
                    <!--Страница админа-->

                    <div class="container-fluid">
                        <h1>Admin panel</h1>
                    </div>

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="all-users-tab" data-bs-toggle="tab"
                                    data-bs-target="#all-users" type="button" role="tab" aria-controls="all-users"
                                    aria-selected="true">Users table
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="new-user-tab" data-bs-toggle="tab"
                                    data-bs-target="#new-user"
                                    type="button" role="tab" aria-controls="new-user" aria-selected="false">New User
                            </button>
                        </li>
                    </ul><!--Навигация по вкладкам-->

                    <div class="tab-content" id="adminTabContent">
                        <div class="tab-pane fade show active" id="all-users" role="tabpanel"
                             aria-labelledby="all-user-tab"><!--Table users-->
                            <div class="card" id="test"><!--Table users-->
                                <div class="card-header">
                                    <h5><span class="align-middle">All users</span></h5>
                                </div>
                                <div class="card-body table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>E-mail</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="users-table"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div><!--Table users-->

                        <div class="tab-pane fade" id="new-user" role="tabpanel" aria-labelledby="new-user-tab">
                            <!--New user-->
                            <div class="card">
                                <div class="card-header">
                                    <h5><span class="align-middle">Add new user</span></h5>
                                </div>
                                <div class="card-body">
                                    <div class="mx-auto p-4 text-center fw-bold">
                                        <form id="newUserForm">
                                            <div class="mb-3">
                                                <label for="firstName" class="form-label">First Name</label>
                                                <input type="text" class="form-control input-xs"
                                                       id="firstName" placeholder="Enter Name">
                                            </div>
                                            <div class="mb-3">
                                                <label for="lastName" class="form-label">Last Name</label>
                                                <input type="text" class="form-control input-xs"
                                                       id="lastName" placeholder="Enter Last Name">
                                            </div>
                                            <div class="mb-3">
                                                <label for="email" class="form-label">E-Mail</label>
                                                <input type="email" class="form-control input-xs"
                                                       id="email" placeholder="Enter E-Mail">
                                            </div>
                                            <div class="mb-3">
                                                <label for="password" class="form-label">Password</label>
                                                <input type="password" class="form-control input-xs"
                                                       id="password" placeholder="Enter Password">
                                            </div>
                                            <div class="mb-3">
                                                <label for="role_select">Roles</label>
                                                <select id="role_select" name="roles" multiple="multiple"
                                                        class="form-select" size="2" aria-label="size 2 select"
                                                        required>
                                                </select>
                                            </div>
                                            <button id="addNewUserButton" type="submit" class="btn btn-success btn-lg">
                                                Add new user
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div><!--New user-->
                    </div>
                </div><!--Страница админа-->
                <div class="tab-pane" id="user" role="tabpanel" aria-labelledby="user-tab">
                    <div class="container-fluid">
                        <h1>User information-page</h1>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h5><span class="align-middle">About user</span></h5>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>E-mail</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody id="user-table"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!--Правая часть страницы-->
        </div>
    </div>
</div><!--Основа-->

<!--Modal Edit-->
<div id="editUserModal" class="modal fade" tabindex="-1"
     aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel">Edit user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mx-auto p-4 text-center fw-bold" style="width: 300px">
                    <form id="edit_user_form">
                        <div class="mb-3">
                            <label for="id_edit" class="label">ID</label>
                            <input readonly type="number" class="form-control"
                                   id="id_edit" name="id">
                        </div>
                        <div class="mb-3">
                            <label for="firstName_edit" class="label">FirstName</label>
                            <input type="text" class="form-control"
                                   id="firstName_edit"
                                   name="firstName" required>
                        </div>
                        <div class="mb-3">
                            <label for="lastName_edit" class="label">LastName</label>
                            <input type="text" class="form-control"
                                   id="lastName_edit"
                                   name="lastname" required>
                        </div>
                        <div class="mb-3">
                            <label for="email_edit" class="label">Email</label>
                            <input type="email" class="form-control"
                                   id="email_edit" name="email"
                                   aria-describedby="emailHelp" required>
                        </div>
                        <div class="mb-3">
                            <label for="password_edit" class="label">Password</label>
                            <input type="password" class="form-control"
                                   id="password_edit" name="password">
                        </div>
                        <div class="mb-3">
                            <label for="role_edit" class="label">Roles</label>
                            <select id="role_edit" name="roles" multiple class="form-select" size="2"
                                    aria-label="size 2 select"
                                    required>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Close
                </button>
                <button type="submit" form="edit_user_form"
                        class="btn btn-primary">Edit
                </button>
            </div>
        </div>
    </div>
</div>
<!--Modal Edit-->

<!--Modal delete-->
<div id="deleteUserModal" class="modal fade" tabindex="-1"
     aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserModalLabel">Delete user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mx-auto p-4 text-center fw-bold" style="width: 300px">
                    <form id="delete_user_form">
                        <div class="mb-3">
                            <label for="id_delete" class="label">ID</label>
                            <input readonly type="number" class="form-control" id="id_delete">
                        </div>
                        <div class="mb-3">
                            <label for="firstName_delete" class="label">FirstName</label>
                            <input readonly type="text" class="form-control" id="firstName_delete">
                        </div>
                        <div class="mb-3">
                            <label for="lastName_delete" class="label">LastName</label>
                            <input readonly type="text" class="form-control" id="lastName_delete">
                        </div>
                        <div class="mb-3">
                            <label for="email_delete" class="label">Email</label>
                            <input readonly type="email" class="form-control" id="email_delete" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="password_delete" class="label">Password</label>
                            <input readonly type="password" class="form-control" id="password_delete" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="role_delete" class="label">Roles</label>
                            <select disabled id="role_delete" name="roles" multiple class="form-select" size="2"
                                    aria-label="size 2 select">
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Close
                </button>
                <button id="deleteUserButton" type="submit" form="delete_user_form"
                        class="btn btn-primary">Delete
                </button>
            </div>
        </div>
    </div>
</div>
<!--Modal delete-->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

<script src="/admin.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
</body>
</html>